<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table th td{
        border :1px solid black;
        }
    </style>
</head>
<body>
<a href="/insertpage/">insertpage</a> &nbsp; &nbsp;
<a href="/displaypage/">displaypage</a> &nbsp; &nbsp;
<a href="/updatepage/">updatepage</a> &nbsp; &nbsp;
<a href="/deletepage/">deletepage</a> &nbsp; &nbsp;
<table>
    <tr>
        <th>ID</th> &nbsp; &nbsp; &nbsp; &nbsp;
        <th> FIRST NAME</th> &nbsp &nbsp;
        <th>LAST NAME</th> &nbsp; &nbsp;&nbsp; &nbsp;
        <th>EMAIL</th> &nbsp; &nbsp;&nbsp; &nbsp;
        <th>ADDRESS</th> &nbsp; &nbsp;&nbsp; &nbsp;
        <th>PHONE</th>
        <th>DELETE</th>
        <th>Edit</th>
    </tr>
    <tr>
        {% for x in data %}
        <tr>
            <td> {{x.id}}</td>
            <td> {{x.firstname}}</td>
            <td> {{x.lastname}}</td>
            <td> {{x.email}}</td>
            <td> {{x.address}}</td>
            <td> {{x.phone}}</td>
            <td> <a href="/deletestudent/{{x.id}}">Delete data </a></td>
            <td> <a href="/editpage/{{x.id}}">Edit</a></td>
        <tr>
        {% endfor %}
    </tr>
</table>
</body>
</html>