<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insetpage</title>
</head>
<body>

<a href="/insertpage/">insertpage</a> &nbsp; &nbsp;
<a href="/displaypage/">displaypage</a> &nbsp; &nbsp;
<a href="/updatepage/">updatepage</a> &nbsp; &nbsp;
<a href="/deletepage/">deletepage</a> &nbsp; &nbsp;


<form action="/editstudent/" method="post">
    {% csrf_token %}
    <table>
           <tr>
            <th>ID</th>
            <td><input type="text" name="id" value="{{data.id}}" readonly></td>
        </tr>
        <tr>
            <th>FIRST NAME</th>
            <td><input type="text" name="fname" required value="{{data.firstname}}"></td>
        </tr>
        <tr>
            <th>LAST NAME</th>
            <td><input type="text" name="lname"  value="{{data.lastname}}"></td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td><input type="text" name="email" value="{{data.email}}"></td>
        </tr>
        <tr>
            <th>ADDRESS</th>
            <td><input type="text" name="address" value="{{data.address}}"></td>
        </tr>
        <tr>
            <th>PHONE</th>
            <td><input type="text" name="phone" value="{{data.phone}}"></td>
        </tr>
        <tr>
            <td><input type="submit" name="Student"></td>
        </tr>
    </table>
</form>
</body>
</html>